body{
    background-color: rgb(140, 224, 243);
}

h1{
    color: black;
    background-color: aliceblue;
}

#show_sketches{
    float: right;
}

canvas{
    border: 5px solid rgb(230, 3, 177);
    border-radius: 15px;
    margin-top: 45px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    from {box-shadow: 2px 2px 40px rgb(25, 3, 102)};
    to {box-shadow: 2px 2px 40px rgb(203, 3, 214)};
}

p{
    font-size: large;
    padding-top: 10px;
}